* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 200px 1fr 50px;
  grid-gap: 10px;

}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #00B4B5;
  grid-column: span 2;
  padding: 20px;
    img {
      margin: 0 10px;
    }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  background-color: yellow;
    h1 {
      font-size: 10vw;
    }
}
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: red;
}
.nav-contents {
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 1px solid black;
  width: 90%;
  height: (100%/9);
}

.content {
  display: flex;
  justify-content: center;
  background-color: green;
}

.footer {
  grid-column: span 2;
  background-color: #00B4B5;
}
